<div
  class="flex border-t p-3"
  [ngClass]="selected ? 'bg-primary text-secondary' : ''"
>
  <div class="w-8 h-8 align-center rounded-full bg-white"></div>
  <div class="flex w-full m-3 flex-col leading-1.5">
    <div class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold dark:text-white">{{
        room.name
      }}</span>
      <!-- <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{room.lastMessageTime|date:'medium'}}</span> -->
    </div>
  </div>
</div>
